<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <unitTestProvider name="MsTest" />
        <plugins>
            <!--<add name="TOUJOU.ScenarioFilter" path="..\ScenarioFilter\bin\Debug" type="Generator" />-->
            <add name="TOUJOU.ScenarioFilter" path=".\Plugin" type="Generator" />
        </plugins>
    </specFlow>
</configuration>